body{
    background-image: url(imgs/background.jpg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-size: 12px;
}

@font-face {
    font-family:'lobster';
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
}

.padre{
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#cuerpo{
    border-radius:2%;
    background: rgba( 74, 185, 226, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: block;
    text-align: center;
    padding: 10px 20px;
    margin-top: 140px;
    width: 600px;
    height: 520px;
    color: azure;
    position: relative;
}
h1{
    font-size: 20px;
}
#ocontrase침a{
    text-align: left;
}

#registro{
    text-align: left;
}
a{
color: chartreuse;
text-decoration: none;
font-style: italic;
text-transform:lowercase;
}

.logo2{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#encabezado{
    display: inline;
}
input{
    width: 80%;
    height: 20px;
    background-color: rgb(27, 27, 27);
    border-color: aliceblue;
    border-style:solid;
    border-radius: 5%;
}

.correo{
    border: none;
    border-radius: 10px;
    padding: 10px;
}


.contrase침a{
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#bot칩n{
    height: 30px;
    width: auto;
    color: aliceblue;
}

#bot칩n:hover{
    background-color: white;
    color: black;
    transition: 1s;
    cursor: pointer;
}

.num{
    font-size: 20px;
}

.iniciar{
    border: none;
    border-radius: 10px;
    padding: 5px 30px 25px 30px;
}

@media (max-width:500px){
    #cuerpo{
        width:100%;
    }
}